{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Document</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->

</head>
<body bgcolor="blue">
    <h1 style="color:white;">website design for ecommerce website</h1>
    <img src= "{% static 'img/books.jpg' %}" height="300px" width="200px">
    <script src="" async defer></script>
</body>
</html>